##ignore this file##
/prj/NandFlashController/
/prj/*.dmp
/prj/*.log
/prj/*.jou
/prj/transcript
/ip/*
!/ip/NandFlashController_ip.tcl
/pcsoftware/USBHOSTAPP/x64/Debug
/pcsoftware/USBHOSTAPP/USBHOSTAPP/x64/Debug
